<!-- <p>view-question works!</p>

<div class=”container-xl”>
  <div class=”table-responsive”>
    <div class=”table-wrapper”>
      <div class=”table-title”>
        <div class=”row”>
          <div class=”col-sm-6”>
            <h4><b>View Question</b></h4>
          </div>
          <div class=”col-sm-6”>
            <a href=”#” routerLink=”/Home” class=”btn btn-success back”><I class’'fas fa-arrow-circle-lef’'></i>  Back</a>
          </div>
        </div>
      </div>
      <table class"table table-striped table-hover table-bordered table-conten">
        <tbody>
          <tr>
            <td><label><b>Question Name</b></label></td>
            <td><span>{{ question.name}}</span></td>
          </tr>
          <tr>
            <td><label><b>Question Category</b></label> </td>
            <td><span>{{ question.category }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Question Level</b></label></td>
            <td> <span>{{ question.questionLevel }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Question Mark</b></label></td>
            <td><span>{{ question.mark }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Question Time</b></label></td>
            <td> <span>{{ question.time }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<div class=”container-xl”>
  <div class=”table-responsive”>
    <div class=”table-wrapper”>
      <div class=”table-title”>
        <div class=”row”>
          <div class=”col-sm-6”>
            <h4><b>View Question</b></h4>
          </div>
          <!-- <div class=”col-sm-6”>
            <a href=”#” routerLink="['/home']" class="btn btn-success back">
              <I class='fas fa-arrow-circle-lef'>
              </I>Back</a>
          </div> -->
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-conten">
        <tbody>
          <tr>
            <td><label><b>Question Name</b></label></td>
            <td><span>{{ question.name}}</span></td>
          </tr>
          <tr>
            <td><label><b>Question Category</b></label> </td>
            <td><span>{{ question.category }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Question Level</b></label></td>
            <td> <span>{{ question.questionLevel }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Question Mark</b></label></td>
            <td><span>{{ question.mark }}</span></td>
          </tr>
          <tr>
            <td> <label><b>Question Time</b></label></td>
            <td> <span>{{ question.time }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
